# Server Port
PORT=5000

# MongoDB URI (leave commented or empty to automatically use in-memory database during local dev)
MONGODB_URI=mongodb://127.0.0.1:27017/pulse_task_manager

# JWT Secret & Expiry
JWT_SECRET=pulse_enterprise_jwt_super_secret_key_2026_x99!
JWT_EXPIRE=7d

# Environment
NODE_ENV=development
